.card {
 border: 5px solid;
  border-image-source: linear-gradient(45deg, red, black);
  border-image-slice: 1;
  border-radius:inherit;
}
.btn {
  background-color:rgba(255, 0, 0, 0.4);;
  color:black;
}
