<nav class="navbar navbar-expand-lg text-dark header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Blood_drop.svg" style="width:40px; height:50px">
    <span id="heading">
			Database Connectivity</span>
    <div class=" ml-auto">
      <a class=" text-light" routerLink="/login"><i class="material-icons">person</i><span>Login</span></a>&ensp;&ensp;
      <a class=" text-light" routerLink="/signup"><i class="material-icons">lock</i><span>signup</span></a>
    </div>
  </nav>

<router-outlet></router-outlet>