/* You can add global styles to this file, and also import other style files */

#red-allpages-footer {
      background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
      font-size:20px;
      font-style:bold;
      color:black;
      overflow:hidden;
}
